{% extends 'base.html' %}

{% block title %} - News{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">News</h1>
    <form method="GET" class="my-5">
        <input type="text" name="search" placeholder="Search for title or description." value="{{ request.GET.search }}" class="form-control">
    </form>
    {% if not page_obj %}
        <div class="mx-auto my-5">
            <h1 class="text-center">No results.</h1>
        </div>
    {% else %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for news in page_obj %}
            <div class="col">
                <div class="card h-100 news-card">
                    <div class="card-body">
                        <img src="{{ news.thumbnail.url }}" class="card-img-top img-thumbnail" alt="{{ news.title }}">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.short_description }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="fas fa-calendar-alt"></i>
                                <small class="text-muted">{{ news.date }}</small>
                            </div>
                            <div>
                                <img src="{{ news.author.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                                <small class="text-muted">{{ news.author.first_name }} {{ news.author.last_name }}</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'news_article' news.slug %}" class="btn btn-primary my-2">Read More</a>
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <span class="my-auto">
                                    {% if news.published %}
                                    <i class="fas fa-check-circle text-success"></i><small class="text-muted"> Published</small>
                                    {% else %}
                                    <i class="fas fa-times-circle text-danger"></i><small class="text-muted"> Not published</small>
                                    {% endif %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-5">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}