{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block title %} - Reservations{% endblock %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container mx-auto my-5">
        <h1 class="text-center my-5">Rezervacije</h1>
        <div class="container d-flex flex-column align-items-center">
            <ul>
                <li>Service: <strong><span id="selected-service"></span></li></strong>
                <li>Doctor: <strong><span id="selected-doctor"></span></li></strong>
                <li>Date: <strong><span id="selected-date"></span></li></strong>
                <li>Time: <strong><span id="selected-time"></span></li></strong>
            </ul>
        </div>
        <form action="{% url 'reservations' %}" method="POST" id="reservation-form">
            {% csrf_token %}
            {{ form.service|as_crispy_field }}
            {{ form.doctor|as_crispy_field }}
            {{ form.date|as_crispy_field }}
            {{ form.start_time|as_crispy_field }}
            {{ form.description|as_crispy_field }}
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal" id="check-details-button">
                    CHECK DETAILS
                </button>
            </div>
        </form>
    </div>
    {% include 'modals/reservation-details.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#reservation-form').submit(function(e) {
                if (!$('#id_service').val() || !$('#id_doctor').val() || !$('#id_date').val() || !$('#id_start_time').val()) {
                    e.preventDefault();
                    alert('Please fill all the fields');
                }
                if ($('#id_description').val() == 'Placeholder') {
                    $('#id_description').val('');
                }
            });
            $('#id_service').select2({
                placeholder: 'Select a service',
                theme: 'bootstrap',
                allowClear: true
            });
            $('#id_doctor').select2({
                placeholder: 'Select a doctor',
                theme: 'bootstrap',
                allowClear: true
            });
            $('#id_start_time').select2({
                placeholder: 'Select available term',
                theme: 'bootstrap',
                allowClear: true
            });
            // Make the empty labels unselectable
            $('#id_service option:first, #id_date option:first').attr('disabled', true);
            $('#id_date').val('');
            var date = new Date();
            date.setFullYear(date.getFullYear() + 1);
            var maxDate = date.toISOString().split('T')[0];
            $('#id_date').attr('max', maxDate);

            $('#id_service').change(function() {
                var serviceId = $(this).val();
                if (serviceId) {
                    $.ajax({
                        url: '/get_doctors/',
                        data: {
                            'service': serviceId
                        },
                        success: function(data) {
                            var select = $('#id_doctor');
                            select.empty();
                            var placeholder = $('<option></option>').text('You can now select the doctor').attr('disabled', true);
                            select.append(placeholder);
                            if (data.length > 0) {
                                $.each(data, function(index, value) {
                                    select.append($('<option></option>').attr('value', value.id).text(value.first_name + ' ' + value.last_name));
                                });
                                select.prop('disabled', false);
                                placeholder.prop('selected', true);
                            } else {
                                select.append($('<option></option>').text('No doctors available'));
                                select.prop('disabled', true);
                                $('#id_date').prop('disabled', true);
                            }
                        }
                    });
                } else {
                    var select = $('#id_doctor');
                    select.empty();
                    select.append($('<option></option>').text('Please select a service first'));
                    select.prop('disabled', true);
                    $('#id_date').prop('disabled', true);
                }
                $('#selected-service').text($(this).find('option:selected').text());
            }).change();

            $('#id_doctor').change(function() {
                if ($(this).val() && !$(this).prop('disabled')) {
                    // Enable the date field when a doctor is selected and the doctor field is not disabled
                    $('#id_date').prop('disabled', false);
                    // Set the minimum date to today's date
                    $('#id_date').attr('min', new Date().toISOString().split('T')[0]);

                    // If the date field is not empty, refresh the times
                    if ($('#id_date').val()) {
                        $('#id_date').change();
                    } else {
                        // If the date field is empty, disable the start_time field
                        $('#id_start_time').prop('disabled', true);
                    }
                } else {
                    // Disable the date field when no doctor is selected or the doctor field is disabled
                    $('#id_date').prop('disabled', true);
                    $('#id_start_time').prop('disabled', true);
                }
                $('#selected-doctor').text($(this).find('option:selected').text());
            }).change();

           $('#id_date').change(function() {
                var date = $(this).val();
                if (date) {
                    $.ajax({
                        url: '/get_date/',
                        data: {
                            'date': date
                        },
                        success: function(data) {
                            if (data.valid) {
                                $.ajax({
                                    url: '/get_times/',
                                    data: {
                                        'date': date,
                                        'doctor': $('#id_doctor').val(),
                                        'service': $('#id_service').val()
                                    },
                                    success: function(data) {
                                        var select = $('#id_start_time');
                                        select.empty();
                                        var placeholder = $('<option></option>').text('Please select a time').attr('disabled', true);
                                        select.append(placeholder);
                                        if (data.length > 0) {
                                            $.each(data, function(index, value) {
                                                var formattedTime = value.time.substring(0, value.time.length - 3);

                                                var option = $('<option></option>').attr('value', value.time).text(formattedTime);
                                                if (value.filled) {
                                                    option.attr('disabled', true);
                                                }
                                                select.append(option);
                                            });
                                            select.prop('disabled', false);
                                            placeholder.prop('selected', true);
                                        } else {
                                            select.append($('<option></option>').text('No times available'));
                                            select.prop('disabled', true);
                                        }
                                    }
                                });
                            } else {
                                $('#id_start_time').prop('disabled', true);
                            }
                        }
                    });
                } else {
                    $('#id_start_time').prop('disabled', true);
                }
                $('#selected-date').text($(this).val());
            }).change();

            $('#id_start_time').change(function() {
                $('#selected-time').text($(this).find('option:selected').text());
            }).change();

            $('#id_service').change(function() {
                var select2Selection = $(this).next('.select2-container').find('.select2-selection');
                if ($(this).val() && !$(this).is(':disabled')) {
                    select2Selection.removeClass('incomplete-select');
                    select2Selection.addClass('complete-select');
                } else {
                    select2Selection.removeClass('complete-select');
                    select2Selection.addClass('incomplete-select');
                    $('#id_date').val('').change();
                }

                $('#id_doctor, #id_date, #id_start_time').change();
            }).change();

            $('#id_doctor').change(function() {
                var select2Selection = $(this).next('.select2-container').find('.select2-selection');
                if ($(this).val() && !$(this).is(':disabled')) {
                    select2Selection.removeClass('incomplete-select');
                    select2Selection.addClass('complete-select');
                } else {
                    select2Selection.removeClass('complete-select');
                    select2Selection.addClass('incomplete-select');
                    $('#id_date').val('').change();
                }

                $('#id_date, #id_start_time').change();
            }).change();

            $('#id_start_time').change(function() {
                var select2Selection = $(this).next('.select2-container').find('.select2-selection');
                if ($(this).val() && !$(this).is(':disabled')) {
                    select2Selection.removeClass('incomplete-select');
                    select2Selection.addClass('complete-select');
                } else {
                    select2Selection.removeClass('complete-select');
                    select2Selection.addClass('incomplete-select');
                }
            }).change();

            $('#id_date').change(function() {
                if ($(this).val() && !$(this).is(':disabled')) {
                    $(this).removeClass('incomplete-select');
                    $(this).addClass('complete-select');
                } else {
                    $(this).removeClass('complete-select');
                    $(this).addClass('incomplete-select');
                }
            }).change();

            function checkForm() {
                if ($('#id_service').val() && !$('#id_service').is(':disabled') &&
                    $('#id_doctor').val() && !$('#id_doctor').is(':disabled') &&
                    $('#id_date').val() && !$('#id_date').is(':disabled') &&
                    $('#id_start_time').val() && !$('#id_start_time').is(':disabled')) {
                    $('#check-details-button').prop('disabled', false);
                } else {
                    $('#check-details-button').prop('disabled', true);
                }
            }

            checkForm();

            $('#id_service, #id_doctor, #id_date, #id_start_time').change(checkForm);

            $('#check-details-button').click(function() {
                $('#confirm-service').text($('#selected-service').text());
                $('#confirm-doctor').text($('#selected-doctor').text());
                var date = new Date($('#selected-date').text());
                var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                var formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
                $('#confirm-date').text(formattedDate);
                $('#confirm-time').text($('#selected-time').text());
            });

            $('#confirm-button').click(function() {
                $('#reservation-form').submit();
            });
        });
    </script>
{% endblock %}