{% extends 'base.html' %}

{% block title %} - Services{% endblock %}

{% block content %}
    <div class="container my-5">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Services</span>
            </div>
        </nav>

        <ul class="nav nav-tabs mt-3">
            {% if services is not None %}
                {% for service in services %}
                    <li class="nav-item my-1">
                        <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ service.title|slugify }}-tab" data-bs-toggle="tab" href="#{{ service.title|slugify }}">{{ service.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <div class="tab-content mt-3">
            {% if services is not None %}
                {% for service in services %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ service.title|slugify }}">
                        <div class="row mx-auto my-5">
                            <div class="col-md-6 text-center">
                                {{ service.description|safe }}
                            </div>
                            <div class="col-md-6 my-5 text-center">
                                {% if service.doctors %}
                                    <h5><strong>Available Doctors:</strong></h5>
                                    <ul class="list-group list-group-flush">
                                        {% for doctor in service.doctors %}
                                            <li class="list-group-item"><img src="{{ doctor.profile_picture.url }}" alt="Profile Picture" class="profile-picture">{{ doctor.first_name }} {{ doctor.last_name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{% url 'reservations_with_service' service.id %}" class="btn btn-primary">BOOK APPOINTMENT</a>
                                {% else %}
                                    <h5>No doctors available for this service.</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var serviceSlug = window.location.hash.substring(1);
            if (serviceSlug) {
                var tab = new bootstrap.Tab(document.querySelector('#' + serviceSlug + '-tab'));
                tab.show();
            }

            var dropdownItems = document.querySelectorAll('.dropdown-item');
            dropdownItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    var serviceSlug = this.href.split('#')[1];
                    var tab = new bootstrap.Tab(document.querySelector('#' + serviceSlug + '-tab'));
                    tab.show();
                });
            });
        });
    </script>
{% endblock %}