<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="confirmModalLabel">Confirm Details</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h4 class="my-2">I, <strong>{{ request.user.first_name }} {{ request.user.last_name }},</strong></h4>
                <p class="my-3">want to book an appointment for the <strong><span id="confirm-service"></span></strong> service,</p>
                <p class="my-3">with doctor <strong><span id="confirm-doctor"></span></strong>,</p>
                <p class="my-3">on <strong><span id="confirm-date"></span></strong> at <strong><span id="confirm-time"></span></strong>.</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm-button">Submit</button>
            </div>
        </div>
    </div>
</div>