:root{
    --main-colour: #4bbcd7;
    --secondary-colour: gray;
    --tertiary-colour: #111;
    --button-colour: #0D9276;
}

/* GENERAL STYLING STARTS HERE */

.oswald-700 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Osward', sans-serif;
}

.navbar{
    border-bottom: 2px solid var(--main-colour);
}

@media (min-width: 992px) {
    .navbar .active{
        background-color: var(--main-colour);
        color: white !important;
    }

    .nav-link {
        color: var(--secondary-colour);
        border: 1px solid var(--main-colour);
        transition: all 0.5s ease;
    }

    .nav-link:hover {
        background-color: var(--main-colour);
        color: white;
    }

    .danger-nav-link {
        color: var(--secondary-colour);
        border: 1px solid crimson;
        transition: all 0.5s ease;
    }

    .danger-nav-link:hover {
        background-color: crimson;
        color: white;
    }
}

@media (max-width: 992px) {
    .navbar .active{
        color: var(--main-colour) !important;
    }

    .danger-nav-link {
        color: crimson;
    }
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

footer{
    margin-top: auto;
    border-top: 2px solid var(--main-colour);
}

footer i{
    font-size: 1.5em;
    color: var(--tertiary-colour);
}

.blue-background{
    background-color: var(--main-colour);
    color: white;
}

.call-to-action{
    background-color: var(--button-colour);
    color: white;
    border: 1px solid var(--button-colour);
    text-decoration: none;
    padding: 15px;
}

.logo-image{
    width: 32px;
    height: 32px;
}

.btn-primary{
    background-color: var(--button-colour) !important;
    border: 1px solid var(--button-colour) !important;
    border-radius: 0 !important;
}

/* GENERAL STYLING STARTS HERE */

/* CARD STYLING ON HOME PAGE STARTS HERE */

i{
    color: var(--main-colour);
}

.card{
    border: none;
    border-radius: 0;
}

.img-thumbnail{
    height: 250px;
    object-fit: contain;
}

.news-card{
    border: 3px solid var(--main-colour);
    transition: all 0.5s ease;
}

.service-card{
    border: 3px solid var(--main-colour);
}

.service-card h2{
    border-bottom: 3px solid var(--main-colour);
}


/* CARD STYLING ON HOME PAGE ENDS HERE */

/* CAROUSEL STYLING STARTS HERE */

.carousel-item {
    height: 50vh;
    max-height: 800px;
    overflow: hidden;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the last value to change the opacity of the mask */
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}

/* CAROUSEL STYLING ENDS HERE */

/* DATATABLES STYLING STARTS HERE */

#row-based .dtr-details .dtr-title{
    display: none !important;
}

/* DATATABLES STYLING ENDS HERE */