:root{
    --main-colour: #4bbcd7;
    --secondary-colour: gray;
    --tertiary-colour: #111;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    border-bottom: 2px solid var(--main-colour);
}

nav .active{
    background-color: var(--main-colour);
    color: white !important;
}

.nav-link{
    color: var(--secondary-colour) !important;
    border: 1px solid var(--main-colour);
    transition: all 0.5s ease;
}

.nav-link:hover{
    background-color: var(--main-colour);
    color: white !important;
}

footer{
    margin-top: auto;
    border-top: 2px solid var(--main-colour);
}

footer i{
    font-size: 1.5em;
    color: var(--tertiary-colour);
}

.blue-background{
    background-color: var(--main-colour);
    color: white;
}

.carousel-item {
    height: 50vh;
    max-height: 800px;
    overflow: hidden;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}