{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="{% static 'svg/logo.webp' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Posušje Health
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Doctor Appointment</a></li>
            <li><a class="dropdown-item" href="#">Diagnostic Tests</a></li>
            <li><a class="dropdown-item" href="#">Health Checkup</a></li>
            <li><a class="dropdown-item" href="#">Rehabilitations</a></li>
            <li><a class="dropdown-item" href="#">Dental Checkup</a></li>
            <li><a class="dropdown-item" href="#">Blood Drawing</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>