{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="{% static 'SVG/logoBlue.webp' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Posušje Health
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item my-auto">
          <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item my-auto dropdown">
          <a class="nav-link dropdown-toggle {% if request.path == '/services/' %} active {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            {% if request.services is not None %}
              {% for service in request.services %}
                <li><a class="dropdown-item" href="{% url 'services' %}#{{ service.title }}">{{ service.title }}</a></li>
              {% endfor %}
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'services' %}">All Services</a></li>
          </ul>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link {% if request.path == '/news/' %} active {% endif %}" href="{% url 'news' %}">News/Blogs</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link {% if request.path == '/events/' %} active {% endif %}" href="{% url 'events' %}">Events</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link" href="#">Our Staff</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link" href="#">About Us</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item my-auto">
            <a class="nav-link" href="#">
              <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
              Profile: {{ user.first_name }} {{ user.last_name }}
            </a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link danger-nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item my-auto">
            <a class="nav-link {% if request.path == '/login/' %} active {% endif %}" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>